/* Definici贸n de la fuente normal */
@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900; /* Esto cubre todos los pesos */
    font-style: normal;
    font-display: swap;
}

/* Definici贸n de la fuente cursiva */
@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Aplicarla a toda la aplicaci贸n */
:root {
    font-family: "Montserrat", sans-serif;
}

body {
    /*Ajustes de la fuente*/
    margin: 0;
    font-family: "Montserrat", sans-serif;

    /*Configuraci贸n global*/
    background-color: #9bc1bc;
}
